li.thumb-unit.col.col--1-of-4(data-folder="{{project.folder}}", data-name="{{project.name}}")
  .img-wrap
    img(alt="{{ project.name }}", src= "assets/img/work/{{project.folder}}/thumb.jpg")
  .thumb-overlay
  .thumb-info 
    p.project-title {{ project.name }}
    .more 
