li.thumb-unit.col.col--4-of-12(data-folder="{{project.folder}}", data-name="{{project.name}}")
  .thumb-contents
    a(href="{{project.file}}" data-lightbox="{{ project.type }}")
      img(alt="{{ project.name }}", src= "/assets/img/projects/{{project.folder}}/thumb.jpg")
      .thumb-info
      .line-set-top
        p {{ project.name }}
        .ball
          .more
        .line
      .line-set-bottom
        .ball
        .line
  p.mobile-project-title {{ project.name }}
