block section
  block info
    .info-wrap
      .bar-wrap
        .primary-bar
        .secondary-bar
    block title
      h1.title Design
    .icon-wrap
      block icons 
        .icon-design.icon 
        .icon-code.icon 
        .icon-hedron.icon
    block blurb
      p.blurb
  block additional-content
