extends templates/default

block work-title
  h1.work-title ICM Pamphlet

block tool-icons
  p a few
  
block year
  h3.year 2014

block final-image
  img(src="assets/img/work/agendi/final.jpg").final-img.col.col--centered
  
block brief
  p.col.col--centered Agendi.ninja is an upcoming web-app that will facilitate the registration process for students everywhere. Signing up for classes every quarter will go from a frustating chore to a simple and quick process
  
  
block custom-content
  .img-set-3.row
    img(src="assets/img/work/agendi/thumb.jpg").col.col--1-of-3
    img(src="assets/img/work/agendi/thumb.jpg").col.col--1-of-3
    img(src="assets/img/work/agendi/thumb.jpg").col.col--1-of-3

  .img-set-2.row
    img(src="assets/img/work/agendi/thumb.jpg").col.col--1-of-2
    img(src="assets/img/work/agendi/thumb.jpg").col.col--1-of-2
