section#about.section-right
  .row.row--no-gutter
    .info-wrap.col.col--4-of-12.col--push-8-of-12
      .bar-wrap
        .primary-bar
        .secondary-bar
      h1.title about
      .icon-wrap.col.col--1-of-12
        .icon-design.icon
        .icon-code.icon 
        .icon-hedron.icon
      //  p.tagline Creative & Technical problem solver
      
  .thumb-wrap
    .thumb-container.row.row--no-gutter
      img.col.col--6-of-12(src="assets/img/avatar.png")
      .about-content.col.col--6-of-12
        p Seasonal robusta plunger pot flavour turkish strong viennese barista americano saucer robusta kopi-luwak. Percolator strong aftertaste eu mazagran body french press con panna sugar.
        p Seasonal robusta plunger pot flavour turkish strong viennese barista americano saucer robusta kopi-luwak. Percolator strong aftertaste eu mazagran body french press con panna sugar.
      
