section#about
  .header-position
    .logo {% include /icons/icon-logo.html %}
    p  Wendy Aguilar 
  .portrait
  .icon-wrap
    .icon-design.icon
    .icon-code.icon
    .icon-hedron.icon
  p.tagline Creative & Technical problem solver
  p.blurb Seasonal robusta plunger pot flavour turkish strong viennese barista americano saucer robusta kopi-luwak. Percolator strong aftertaste eu mazagran body french press con panna sugar.
  
