section#art
  .section-contents
    .section-intro
      h1 art
      p.text-body.blurb Like with desgin I'm faced with the choice between clean vectors and classic painting... 
      p.text-body.desc It is usually through practicing art that I stumble upon new things that  must be coded or designed. As an aspiring artist I'm still finding a style and sketching any time not claimed by responsibility.
    ul.thumb-wrap.row.row--no-gutter
      |{% for project in site.data.settings.hedron-projects %}
      include templates/thumbnails.jade
      |{% endfor %}
.spacer-bg
