section#code
  .section-contents
    .section-intro
      h1 code
      p.text-body.blurb Dont panic. If I space out I'm probably just trying to mentaly fix errors
      p.text-body.desc I learned to speak computer and now we get along quite well. Here are some of my favorite projects mostly for the web.
    ul.thumb-wrap.row.row--no-gutter
      |{% for project in site.data.settings.code-projects %}
      include templates/thumbnails.jade
      |{% endfor %}
.spacer-bg
