section#contact.section-left
  .info-wrap 
    .bar-wrap
      .primary-bar
      .secondary-bar
  
    h1.title Contact
    .icon-wrap
      .icon-behance.icon
      .icon-email.icon 
      .icon-linkedin.icon
    p.blurb Seasonal robusta plunger pot flavour turkish strong viennese barista americano saucer 
  .thumb-wrap
    .thumb-container 
      a(href="mailto:agu.wnd@gmail.com") AGU.WND@GMAIL.COM
