section#contact.section-right
  .row.row--no-gutter
    .info-wrap.col.col--4-of-12.col--push-8-of-12
      .bar-wrap
        .primary-bar
        .secondary-bar
    
      h1.title Contact
      .icon-wrap.col.col--1-of-12
        .icon-behance.icon
        .icon-email.icon 
        .icon-linkedin.icon
      p.blurb Seasonal robusta plunger pot flavour turkish strong viennese barista americano saucer 
  .thumb-wrap
    .thumb-container 
      a(href="mailto:agu.wnd@gmail.com") AGU.WND@GMAIL.COM
