section#design.section-left
  .row.row--no-gutter
    .info-wrap.col.col--4-of-12
      .bar-wrap
        .primary-bar
        .secondary-bar
      h1.title design
      .icon-wrap.col.col--1-of-12
        .icon-design.icon
        .icon-code.icon 
        .icon-hedron.icon
      p.blurb
  .thumb-wrap
    ul.thumb-container.row.row--no-gutter
      |{% for project in site.data.settings.design-projects %}
      include templates/thumbnails.jade
      |{% endfor %}
