section#design.section-left
  .row.row--no-gutter
    .info-wrap.col.col--4-of-12
      .bar-wrap
        .primary-bar
        .secondary-bar
      h1.title design
      .icon-wrap.col.col--12-of-12
        .icon
          |{% include icons/ai.html %}
        .icon 
          |{% include icons/ps.html %}
        .icon
          |{% include icons/pencil.html %}
      p.blurb As a designer I focus on simple vectors and engaging shapes. 
  .work-belt    
    .skewed-container
      ul.thumb-container.row.row--no-gutter
        |{% for project in site.data.settings.design-projects %}
        include templates/thumbnails.jade
        |{% endfor %}
        
    .work-wrap
      .work-container
        .work-return
          |{% include icons/icon-back.html %}
        .project-load
        a(href="#design") 
          .work-return
            |{% include icons/icon-back.html %}
