section#design
  .section-contents
    .section-intro
      h1 design
      p.text-body.blurb Somewhere between painting and flat vectors
      p.text-body.desc I specialize in logo and poster design with a lot of hand drawing, but also a great need to make clean shapes.  
    ul.thumb-wrap.row.row--no-gutter
      |{% for project in site.data.settings.design-projects %}
      include templates/thumbnails.jade
      |{% endfor %}
.spacer-bg
