nav.site-nav-full
  ul
    li: a(href="#home-header") about
    li: a(href="#design") design
    li: a(href="#code") code
    li: a(href="#hedron") hedron
    li: a(href="#contact") contact
  
header#home-header
  .curtain-bg  
  a(href="mailto:agu.wnd@gmail.com").email-link +email me
    //img(src="../assets/img/logo.svg").logo  
  .mobile-nav-toggle: span
  
    
