section#hedron.section-left
  .row.row--no-gutter
    .info-wrap.col.col--4-of-12
      .bar-wrap
        .primary-bar
        .secondary-bar
    
      h1.title Hedron
      .icon-wrap.col.col--1-of-12
        .icon-design.icon 
        .icon-code.icon 
        .icon-hedron.icon
      p.blurb Seasonal robusta plunger pot flavour turkish strong viennese barista americano saucer 
  .thumb-wrap
    ul.thumb-container
      |{% for project in site.data.settings.hedron-projects %}
      include templates/thumbnails.jade
      |{% endfor %}
