section#hedron.section-left
  .row.row--no-gutter
    .info-wrap.col.col--4-of-12
      .bar-wrap
        .primary-bar
        .secondary-bar
    
      h1.title Hedron
      .icon-wrap.col.col--12-of-12
        .icon 
          |{% include icons/paint.html %}
        .icon 
          |{% include icons/pencil.html %}
        .icon 
          |{% include icons/tablet.html %}
      p.blurb Hedron is somewhat of an alter ego. One could say it is a username that took on a life of its own. It is how I explore the artsy-er side of things.
  .work-belt
    .skewed-container
      ul.thumb-container.row.row--no-gutter
        |{% for project in site.data.settings.hedron-projects %}
        include templates/thumbnails.jade
        |{% endfor %}
    .work-wrap
      .work-container
        .work-return
          |{% include icons/icon-back.html %}
        .project-load
