section#home
  .container-3d.cube-sm-container
    .cube.cube-sm.cube-rotate
      figure.front
        .logo {% include /icons/icon-logo.html %}
      figure.back
        img(src="/assets/img/portraits/avatar4.jpg")
      figure.left 
        .icon {% include /icons/paint.html %}
      figure.right 
        .logo {% include /icons/icon-logo.html %}
      figure.top 
        .icon {% include /icons/c.html %}
      figure.bottom 
        .icon {% include /icons/tablet.html %}
  .container-3d
    a(href="#design")
      .box.box-left
        figure.front
          p design
        figure.back 
        figure.left 
        figure.right 
        figure.top 
        figure.bottom 
  .container-3d
    a(href="#code")
      .box.box-right
        figure.front
          p code
        figure.back 
        figure.left 
        figure.right 
        figure.top 
        figure.bottom
  .container-3d
    a(href="#art")
      .box.box-left
        figure.front
          p art
        figure.back 
        figure.left 
        figure.right 
        figure.top 
        figure.bottom
  .container-3d
    a(href="#about")
      .box.box-right
        figure.front
          p about
        figure.back 
        figure.left 
        figure.right 
        figure.top 
        figure.bottom   
  .container-3d
    a(href="#contact")
      .box.box-left
        figure.front
          p contact
        figure.back 
        figure.left 
        figure.right 
        figure.top 
        figure.bottom 
.spacer-bg
