.row
  header.col.col--6-of-12.col--centered.header
      p wendy
      .logo {% include /icons/icon-logo-copy.html %}
      p aguilar
.row    
  nav.col.col--6-of-12.col--centered
    ul.nav-links
      li
        a(href="/") home
        .color-slider#slide-home
      li
        a(href="/work") work
        .color-slider#slide-work
      li
        a(href="/about") about
        .color-slider#slide-about
      li
        a(href="/contact") contact
        .color-slider#slide-contact
