.spacer-bg
  h1 work
section
  .row
    .content-wrap
      h2 design
      .line-container
        .line-set-top
          .ball
          .line
        .line-set-bottom
          .ball
          .line
      .section-intro.col.col--6-of-12
        p.text-body.blurb Somewhere between painting and flat vectors. I specialize in logo and poster design with a lot of hand drawing, but also a good ratio of clean geometric shapes.  
      ul.thumb-wrap.row--no-gutter.row
        |{% for project in site.data.settings.design-projects %}
        include templates/thumbnails.jade
        |{% endfor %}
.spacer-bg
section
  .row
    .content-wrap
      h2 code
      .line-container
        .line-set-top
          .ball
          .line
        .line-set-bottom
          .ball
          .line
      .section-intro.col.col--6-of-12
        p.text-body.blurb I learned to speak computer and now we get along quite well. Here are some of my favorite projects mostly for the web.
      ul.thumb-wrap.row--no-gutter.row
        |{% for project in site.data.settings.code-projects %}
        include templates/thumbnails.jade
        |{% endfor %}
