
.thumb-unit
  max-width: 400px
  max-height: 400px
.tools-list
  display: block
  font-size: 150%
  padding: 0 3em
.tools-wrap
  h2
    width:100%
  flex-direction: row
.tools-list
  display: none
@media (min-width: $toast-breakpoint-medium)
  .tools-wrap
    display: flex
  .tools-list
    display: none
