#contact
  z-index: 5
  .thumb-wrap
    background: $ACCENT_COLOR
  .thumb-container
    font-size: 400%
    line-height: 5em
    color: white
    font-family: 'Quicksand' sans-serif
    font-weight: 100
  a
    color:white
    transition: all 0.2s ease-in-out
  a:hover, a:focus
    color: lighten($ACCENT_COLOR, 20%)
