#contact
  h2
    text-align: center
    font-size: 150%
    padding: 1em 0
  form
    width: 70%
    max-width: 500px
    min-width: 300px
    margin: auto
    input
      width: 100%
      display: block
      margin-bottom: 2em
      height:2em
      padding: 1em
      box-sizing: border-box
      background: transparentize(black,.9)
      border-width: 0
    input:active
      border-color: white
    .submit
      width:50%
      height:3em
      margin: auto
      margin-top: 1em
      background:$PRIMARY_COLOR
      color: white

    textarea
      height: 300px
      width: 100%
      background: transparentize(black,.9)
      border-width: 0
  .name
    width: 50%
    display: inline-block
  .content-wrap
    justify-content: center
