#contact
  background:
    color:$ACCENT_BLUE
    image: url('../img/bg/graffiti-min.jpg')
    size: cover
    repeat: no-repeat
    position: center center

  form
    width: 70%
    max-width: 500px
    margin: auto
    input
      width: 100%
      display: block
      margin-bottom: 2em
      height:2em
      padding: 1em
      box-sizing: border-box
      background: transparentize(black,.6)
      border-width: 0
    input:active
      border-color: white
    .submit
      width:50%
      height:3em
      margin: auto
      background:$ACCENT_RED

    textarea
      height: 300px
      width: 100%
      background: transparentize(black,.6)
  .name
    width: 50%
    display: inline-block
