.logo-wrap
  transition: all 0.2s ease-in-out
  position: relative
  +calc(top,"50% - 200px")
  margin: auto
  box-sizing: border-box
  text-align: center
  +size(250px)
  border-radius: 50%
  margin:auto
  background: white
  padding: 2em
  z-index: 5
  .logo
    width:70%
    height:70%
    margin: auto
    fill: $PRIMARY_COLOR
    svg
      width:100%
      height:100%
.logo-line
  width:10px
  +calc(left,"50% - 10px")
  height:30em
  position: absolute
  background: white


.site-nav-full
  transition: all 0.2s ease-in-out
  position:fixed
  z-index: 100
  width:100%
  height:50px
  color:white
  top:0
  ul
    width:250px
    padding-right:20px
    float:right
    list-style: none
    display:flex
    align-items: center
    justify-content: space-between
    flex-direction: row
    li
      display: inline-block
      position: relative
#home-header
  position: relative
  overflow: hidden
  margin-top:-19%
  width:100%
  height:50em
  z-index: 30
  backface-visibility: hidden
  transform: skewY(10deg)

  .tagline
    position: absolute
    +calc(left,"50% - 250px")
    +calc(top,"25% - 30px")
    font-size: 3em
    text-align: center
    max-width:500px

  .curtain-bg
    position: relative
    margin-top: 18%
    width:100%
    height:100%
    background:
      color:white
      image:url('../img/bg/header-bg.jpg')
      size:cover
      position: 50%
      backface-visibility: hidden
    transform: skewY(-10deg)

@media screen and (min-width: 1500px)
  #home-header
    height: 60em
  .logo-wrap
    +calc(top,"50% - 300px")
