#home
  box-sizing: border-box
  padding: 5em
  height: 100vh
  background:
    image: url('../img/bg/graffiti-min.jpg')
    repeat: no-repeat
    size: cover
    position: 60% center
.logo, .icon
  box-sizing: BORDER-box
  +size(100%)
  padding: .5em
  fill: gray
