.content-wrap
  h1 Dyno Thumbs
  .line-container
    .line-set-top
      .ball
      .line
    .line-set-bottom
      .ball
      .line
  .info
    p Web Design/ Develpment
    p 2016
.row
  img.col.col--12-of-12(src="/assets/img/projects/dyno-thumbs/img1.jpg")
