.content-wrap
  h1 Spark science
  .line-container
    .line-set-top
      .ball
      .line
    .line-set-bottom
      .ball
      .line
  .info
    p logo design
    p 2015
.row
  .col.col--12-of-12img(src="/assets/img/projects/spark-science/img1.jpg")
