.content-wrap
  h1 the take off
  .line-container
    .line-set-top
      .ball
      .line
    .line-set-bottom
      .ball
      .line
  .info
    p album cover illustration
    p 2015
.row
  img.col.col--12-of-12(src="/assets/img/projects/the-take-off/takeoff-banner.jpg")
.row
  p.col.col--8-of-12.col--centered The artist is a rapper and disney enthusiast. The design of the cover was focused on a character with his likenes but in a very fantastical and magical environment as one would see in a disney movie. 
.row  
  img.col.col--12-of-12(src="/assets/img/projects/the-take-off/takeoff-char.jpg")
  p.col.col--6-of-12 The evolution of the character. From initial sketch through final linework
  p.col.col--6-of-12 near the beggining I was focusing on capturing the character of the artist and later focused on fleshing out the anatomy and details.
.row
  img.col.col--12-of-12(src="/assets/img/projects/the-take-off/takeoff-charcolor.jpg")
.row
  p.col.col--4-of-12 here is a small look at the evolution of the design. It was a bit of a struggle constructing the right mood for environment.
  img.col.col--6-of-12(src="/assets/img/projects/the-take-off/takeoff-gif.gif")
.row
  p.col.col--4-of-12.col--centered The final design for the front and back covers.
  img.col.col--6-of-12(src="/assets/img/projects/the-take-off/takeoff-front.jpg")
  img.col.col--6-of-12(src="/assets/img/projects/the-take-off/takeoff-back.jpg")
.row
  p.col.col--4-of-12.col--centered And to finish off some mockups to visualize the album a bit better
  img.col.col--6-of-12(src="/assets/img/projects/the-take-off/takeoff-iphone.jpg")
  img.col.col--6-of-12(src="/assets/img/projects/the-take-off/takeoff-vinyl.jpg")
