//	Typography

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  color: $accent-color
  font-weight: bold
  margin:0

.gigantic
  font-size: 110px
  line-height: 1.09
  letter-spacing: -2px

.huge, h1
  font-size: 5em
  line-height: 1.05
  letter-spacing: -1px
  font-family: 'Quicksand' sans-serif
  text-transform:uppercase
  color:$ACCENT_COLOR

.large, h2
  font-size: 2.25em
  line-height: 1.14

.bigger, h3
  font-size: 1.3125em
  line-height: 1.38

.big, h4
  font-size: 1.125em
  line-height: 1.38

h5
  font-size: 1em

.small, small
  font-size: 10px
  line-height: 1.2



p
  margin: 0 0 20px 0

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0



// Links

a
  color: $link-color
  text-decoration: none
  outline: 0

a:hover, a:focus
  color: lighten($link-color, 20%)



// Selection colors (easy to forget)

::selection
  background: $selection-color

::-moz-selection
  background: $selection-color

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: $selection-color



// Basic Styles

body
  background: $bg-color
  font-size: 100%
  line-height: 1.6
  font-family: 'Roboto' sans-serif
  color: $text-color
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%


.bar-wrap
  width:2.5em
  height:35em
  margin-bottom:1em

  .primary-bar
    width:1em
    height:110%
    float:left
    margin-top:-150px
    background-color: $ACCENT_LIGHT

  .secondary-bar
    float:right
    width:1em
    height:100%
    background-color: $ACCENT_DARK

section
  width:100%
  max-width: 1200px
  margin:auto
  position: relative
  box-sizing: border-box
.info-wrap
  width:35%
  margin-bottom:8em

.thumb-wrap
  width:100%
  height:20em
  margin:auto
  margin-top:90px

  .thumb-container
    display: flex
    padding:0
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    .thumb
      display:inline-block
      width:25%
      height:10em
      background: lightgray
    img
      width:100%
      height:100%
.section-left,.section-right

.section-left
  .info-wrap
    margin-left:0
    margin-right:auto
    padding-left:60px
  .bar-wrap
    margin-left:0
    margin-right:auto
  .thumb-wrap
    transform: skewY(-10deg)
    .thumb-container
    transform:skewY(10deg)

.section-right
  .info-wrap
    margin-left:auto
    margin-right:0
    text-align: right
    padding-right:60px
    .icon-wrap
      margin-left:auto
      margin-right:0
  .bar-wrap
    margin-right:0
    margin-left:auto
  .thumb-wrap
    transform: skewY(10deg)
    .thumb-container
    transform:skewY(-10deg)
.icon-wrap
  position: relative
  width:150px
  height: 50px
  max-width: 350px
  margin-bottom:2em
  display: flex
  justify-content: space-between
  align-items:center
  .icon
    width:40px
    height:40px
    background: pink
    border-radius: 50%
    display: inline-block
