//	Typography

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  color:  $PRIMARY_COLOR
  font-weight:  bold
  margin: 0

.gigantic
  font-size:  110px
  line-height:  1.09
  letter-spacing:  -2px

.huge, h1
  font-size:  5rem
  line-height:  1.05
  letter-spacing:  -1px
  font-family:  'Quicksand' sans-serif
  text-transform: uppercase
  color: $PRIMARY_COLOR

.large, h2
  font-size:  2.25rem
  line-height:  1.14

.bigger, h3
  font-size:  1.3125rem
  line-height:  1.38

.big, h4
  font-size:  1.125rem
  line-height:  1.38

h5
  font-size:  1rem

.small, small
  font-size:  10px
  line-height:  1.2



p
  margin:  0 0 20px 0

em
  font-style:  italic

strong
  font-weight:  bold

hr
  border:  solid #ddd
  border-width:  1px 0 0
  clear:  both
  margin:  10px 0 30px
  height:  0



// Links

a
  color:  $link-color
  text-decoration:  none
  outline:  0

a:hover, a:focus
  color:  lighten($link-color, 20%)



// Selection colors (easy to forget)

::selection
  background:  $selection-color

::-moz-selection
  background:  $selection-color

img::selection
  background:  transparent

img::-moz-selection
  background:  transparent

body
  -webkit-tap-highlight-color:  $selection-color
  font-size: 100%
  line-height: 1.5
  color: white
  font-family: 'Comfortaa', sans-serif
.row p
  text-align: justify
section
  min-height: 100vh
  position: relative
  width: 100%
  z-index: 5
  top: 100%
