$primary-color: #F6C
$text-color: #2E2D33
$accent-color:#6D727B

$ACCENT_COLOR:#688ba1

$ACCENT_LIGHT: #e8e4dc

$ACCENT_DARK: #898787
$bg_color:white
$link-color: $accent-color
$selection-color: #281B46
