<!DOCTYPE html>
<html>
<head>
  <link REL="stylesheet" href="assets/css/main.css">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="initial-scale=1">
  <title>{page.title}</title>
  <!--JQUERY-->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!--<link href='https://fonts.googleapis.com/css?family=Quicksand:400,300|Roboto+Condensed|Roboto' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css?family=Oswald|Montserrat|Comfortaa:300,700|Rock+Salt' rel='stylesheet' type='text/css'>
</head>
  <body>
      {{ content }}
  </body>
  <script type="text/javascript" src="assets/js/functions.js"> </script>
  <script type="text/javascript" src="assets/js/jquery-slimscroll.js"> </script>

  <script type="text/javascript" src="assets/js/lightbox.js"> </script>

</html>
